<app-navbar></app-navbar>


<router-outlet></router-outlet>



<!--<app-course-details [course] = "

{
        id: 1,
        courseType: 'lecture',
        ects: 1,
        semester: 1,
        maxStudents: 100,
        rating: 5,
        icon: 'https://thumbs.dreamstime.com/b/sample-stamp-sample-stamp-sign-icon-editable-vector-illustration-isolated-white-background-123950438.jpg',
        desc: 'lorem ipsum dolor sit amet',
        name: 'Analiza matematyczna 1'
}

"></app-course-details>
<app-add-course></app-add-course>-->
<app-footer></app-footer>
