<div class="container">
    <p>Filtrtr:</p>
    <p> Ocena: </p>
    <input type="checkbox" checked> 1
    <input type="checkbox" checked> 2
    <input type="checkbox" checked> 3
    <input type="checkbox" checked> 4
    <input type="checkbox" checked> 5
    <p>Semester: </p>
    <input type="checkbox" checked> 1
    <input type="checkbox" checked> 2
    <input type="checkbox" checked> 3
    <input type="checkbox" checked> 4
    <input type="checkbox" checked> 5
    <input type="checkbox" checked> 6
    <input type="checkbox" checked> 7
    <p>ECTS:</p>
    <input type="checkbox" checked> 1
    <input type="checkbox" checked> 2
    <input type="checkbox" checked> 3
    <input type="checkbox" checked> 4
    <input type="checkbox" checked> 5
    <input type="checkbox" checked> 6
    <p>Nazwa Kursu</p>
    <input name="nazwa" #text>
    <button type="button" (click)="search(text.value)">Szukaj!</button>
</div>