<button routerLink="/courses" (click)="resetSearch()">Powrót</button><br><br>

<div class="container">
  <div class="header">
    <h1>{{course.name}}</h1><br>
    <h2>{{course.desc}}</h2>
  </div>
  <div class="flex">
    <div class="desc">
      <p>Semestr: {{course.semester}} <br>
        Rodzaj kursu: {{course.courseType}} <br>
        Punkty ECTS za kurs: {{course.ects}} <br>
        Maksymalna liczba studentów: {{course.maxStudents}} <br>
      </p>
      <div class="rating">
        Aktualna ocena: <strong>{{course.rating}}</strong>
      </div>
      <div>

          <button *ngIf="!enrolled()" class="btn btn-primary" (click)="enroll()">Zapisz się na kurs</button>
      </div>



      <app-rating *ngIf="enrolled()" [rate]="this.course.rating" (rateUpParent)="rateUpParent($event)" (rateDownParent)="rateDownParent()"></app-rating>
    </div>

    <div class="icon">
      <img src={{course.icon}}>
    </div>


  </div>
</div>





