<button routerLink="/courses" (click)="resetSearch()">Powrót</button><br><br>
<form>
  Nazwa kursu:<br>
  <input type="text" name="name" placeholder="Nazwa kursu" [(ngModel)]="course.name"> <br>
  Opis kursu:<br>
  <textarea name="desc" placeholder="opis" [(ngModel)]="course.desc"></textarea><br>
  Typ zajęć:<br>
  <select name="courseType" [(ngModel)]="course.courseType">
    <option value="lecture">Wykład</option>
    <option value="lab">Laboratoria</option>
    <option value="project">Projekt</option>
    <option value="disc">Ćwiczenia</option>
  </select><br>
  Nr semestru: <br>
  <select name="courseType" [(ngModel)]="course.semester">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select><br>
  Liczba ECTS: <br>
  <input type="text" name="ects" placeholder="ETCS" [(ngModel)]="course.ects"> <br>
  Maksymalna liczba uczestników: <br>
  <input type="text" name="maxStudents" placeholder="liczba uczestników" [(ngModel)]="course.maxStudents"> <br>
  Miniaturka: <br>
  <input type="text" name="icon" placeholder="adres miniaturki" [(ngModel)]="course.icon"><br>
  <input type="button" name="submit" value="Dodaj kurs" (click)="addCourse($event)">
</form>






